<div class="tab-pane" id="tab-ocf_description">
    <button type="button" class="btn btn-warning" id="add-seo-value">Добавить</button>
    <ul class="nav nav-tabs" id="value-list">
        {% for value in ocf_descriptions %}
            {% set valuesdata = '' %}
            {% if loop.first %}
                {% set liclassactive='active' %}
                {% set expanded='true' %}
            {% else %}
                {% set liclassactive='' %}
            {% endif %}
            <li class="{{ liclassactive }}" id ="values-list-item_{{value.1.value_id}}">
                <a href="#tab-ocf_description_{{ value.1.value_id }}"
                   class = "value-list-nav" data-toggle="tab"
                   aria-expanded={{ expanded }}>
                    {{ value.1.option_name }} <br/>
                    {{ value.1.value_name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="value-descriptions tab-content" id = "value-tabs">
        {% for tabvalue in ocf_descriptions %}
            {% set valuesdata = '' %}
            {% if loop.first %}
                {% set classactive='active' %}
            {% else %}
                {% set classactive='' %}
            {% endif %}
            <div class="tab-pane value-desc {{ classactive }}" id="tab-ocf_description_{{ tabvalue.1.value_id }}">
                <div class="ocfilter-option">
                <span class="options">название опции</span>
                <select name="option-name" class="options">
                    {% for option in ocfilterOptions %}
                        {% if option.option_id==tabvalue.1.option_id %}
                            {% set valuesdata = option.values %}
                        <option value="{{ option.option_id }}" selected>{{ option.name }}</option>
                        {% else %}
                            <option value="{{ option.option_id }}">{{ option.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <span class="values">Значение опции</span>
                     <select name="value-name" class="values">

                            {% for ocvalue in valuesdata %}

                                {% if ocvalue.value_id == tabvalue.1.value_id %}
                                    <option value="{{ ocvalue.value_id }}" selected>{{ ocvalue.name }}</option>
                                {% else %}
                                    <option value="{{ ocvalue.value_id }}">{{ ocvalue.name }}</option>
                                {% endif %}
                            {% endfor %}
                </select>
            </div>
                <button type="button" class="btn btn-danger btn-lg del-ocf-tab" id ="del-{{ tabvalue.1.value_id }}" >
                    Удалить
                </button>
                <ul class="nav nav-tabs" id="languages">
                {% for language in languages %}
                    {% if language.language_id == '1' %}
                    <li class ="active"><a href="#language{{ language.language_id }}tab-ocf_description_{{ tabvalue.1.value_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                    {% else %}
                    <li><a href="#language{{ language.language_id }}tab-ocf_description_{{ tabvalue.1.value_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
                <div class="tab-content">
                    {% for language in languages %}
                        {% set languageId=language.language_id %}
                        {% if language.language_id == '1' %}
                            <div class="tab-pane active" id="language{{ language.language_id }}tab-ocf_description_value1">
                         {% else %}
                            <div class="tab-pane" id="language{{ language.language_id }}tab-ocf_description_{{ tabvalue.1.value_id }}">
                        {% endif %}
                                <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-ocf_description1{{ language.language_id }}">{{ entry_description }}</label>
                                <div class="col-sm-10">
                                    <textarea
                                            name="ocf_description[{{ tabvalue[languageId].option_id }}][{{ tabvalue[languageId].value_id }}][{{ language.language_id }}][description]"
                                            placeholder="{{ entry_description }}"
                                            id="input-ocf_description1{{ language.language_id }}"
                                            data-toggle="summernote" data-lang="{{ summernote }}"
                                            class="form-control value-seo-area">
                                            {{ tabvalue[languageId].description }}
                                    </textarea>
                                </div>
                            </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<style>
.del-ocf-tab {
    position: absolute;
    right: 42px;
    top: 0px;
    font-size: 12px;
}
    .value-desc{
        position: relative;
    }

</style>